{% extends "base.html" %}
{% load staticfiles %}
{% block conteudo %}
        <div class="col-md-12 column">
          <div class="tabbable" id="tabs-360590">
            <ul class="nav nav-tabs">
              <li class="active">
                <a href="#panel-lab" data-toggle="tab">Laboratório</a>
              </li>
              <li>
                <a href="#panel-equipe" data-toggle="tab">Equipe</a>
              </li>
              <li>
                <a href="#panel-disciplinas" data-toggle="tab">Disciplinas</a>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane active" id="panel-lab">
                <h2>O Laboratório</h2>
                <p>O Laboratório de Hidrodinâmica Costeira (LHiCo) foi criado em 28 de Abril
                  de 1992 para aglutinar e consolidar estudos que estavam sendo desenvolvidos
                  pelos Professores Belmiro Mendes de Castro Filho e Luiz Bruner de Miranda,
                  juntamente com seus alunos, no então Departamento de Oceanografia Física
                  do Instituto Oceanográfico da Universidade de São Paulo. As duas linhas
                  de pesquisa definidas inicialmente, e que permanecem até hoje, foram:</p>
                <p></p>
                <h4 style="font-weight: bold; font-size: 1.2em;">1) Hidrodinâmica da Plataforma Continental:</h4>Estudo da dinâmica das
                águas da plataforma continental, incluindo a interação destas com águas
                estuarinas e com águas oceânicas. Esses estudos incluem, por exemplo, correntes,
                ondas, marés, frentes, ressurgências e a física da poluição marinha na
                plataforma continental. Envolvem a coleta, análise e interpretação de dados,
                bem como a construção e aplicação de modelos matemáticos, principalmente
                numéricos, para simulação e previsão.
                <p></p>
                <p></p>
                <h4 style="font-weight: bold; 1.2">2) Hidrodinâmica de Estuários:</h4>Estudo da oceanografia física de sistemas
                estuarinos, incluindo processos de transporte, mistura e difusão, tanto
                do ponto de vista observacional quanto teórico. Aborda também os processos
                físicos relacionados a poluição estuarina, bem como a modelagem matemática
                numérica hidrodinâmica e de qualidade de água.
                <p></p>
                <p>Do ponto de vista científico, essas duas linhas de pesquisa buscam um
                  melhor entendimento dos processos físicos que ocorrem nas águas costeiras
                  brasileiras, incluindo os estuários, a plataforma e o talude continentais.
                  Inserem-se, ainda, numa perspectiva global quando dirigem-se, por exemplo,
                  aos cálculos dos transportes de massa e de calor ao longo da costa brasileira,
                  relevantes para estudos de mudanças climáticas. As atividades dos pesquisadores
                  do LHiCo revestem-se, também, de importância sócio-econômica, fornecendo
                  subsídios para minimizar os impactos ambientais originários do aumento
                  populacional em áreas costeiras e das atividades econômicas resultantes.
                  Como exemplo, podemos mencionar a tecnologia desenvolvida para estudos
                  de impacto ambiental, incluindo modelagem e monitoramento da dispersão
                  de poluentes, tais como efluentes domésticos e industriais, incluindo o
                  planejamento e a operação de emissários submarinos de esgoto. Também a
                  indústria de exploração de óleo e gás, na área offshore, beneficia-se constantemente
                  dos trabalhos hidrodinâmicos, observacionais e de modelagem numérica, executados
                  no LHiCo.</p>
                <p></p>
              </div>
              <div class="tab-pane" id="panel-equipe">
                <p></p>
                <h3>Pesquisadores</h3>
                <p></p>
                <p></p>
                <ul class="list-unstyled">
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4783013A8"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">Dr. Belmiro Mendes de Castro Filho, Prof. Titular.</a>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4783237H5"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                  Dr. Luiz Bruner de Miranda, Prof. Emérito.</a>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4709914Y4"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                  Dr. Marcelo Dottori, Prof. Doutor.</a>
                  </li>
                </ul>
                <p></p>
                <p></p>
                <h3>Técnicos</h3>
                <p></p>
                <p></p>
                <ul class="list-unstyled">
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4241026T7"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        MSc. Carine de Godoi Rezende Costa</a>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4777784A3"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Dr. José Roberto Bairão Leite</a>
                  </li>
                </ul>
                <p></p>
                <p></p>
                <h3>Doutorandos</h3>
                <p></p>
                <p></p>
                <ul class="list-unstyled">
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4252166J1"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        MSc. Alexandre De Caroli</a>
                    <p>Orientador: Prof. Dr. Belmiro Mendes de Castro Filho</p>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4241026T7"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        MSc. Carine de Godoi Rezende Costa</a>
                    <p>Orientador: Prof. Dr. Belmiro Mendes de Castro Filho</p>
                  </li>
                </ul>
                <p></p>
                <p></p>
                <h3>Mestrandos</h3>
                <p></p>
                <p></p>
                <ul class="list-unstyled">
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?id=S6080266"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Ácmon Bhering</a>
                    <p>Orientador: Prof. Dr. Marcelo Dottori</p>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4641366J8"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Francisco Thiago Franca Parente</a>
                    <p>Orientador: Prof. Dr. Marcelo Dottori</p>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4278138T4"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Gabriel Carvalhaes Aloi Paschoal</a>
                    <p>Orientador: Prof. Dr. Belmiro Mendes de Castro Filho</p>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4402133U8"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Pedro Henrique Lima Silva Morais</a>
                    <p>Orientador: Prof. Dr. Marcelo Dottori</p>
                  </li>
                  <li>
                    <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4873446Y8"
                    target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Rafaela Farias do Nascimento</a>
                    <p>Orientador: Prof. Dr. Marcelo Dottori</p>
                  </li>
                  <p></p>
                  <p></p>
                  <h3>Graduandos</h3>
                  <p></p>
                  <p></p>
                  <ul class="list-unstyled">
                    <li>
                      <a href="#" target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Danilo Augusto Silva</a>
                      <p>Orientador: Prof. Dr. Marcelo Dottori</p>
                    </li>
                    <li>
                      <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K8135799T9"
                      target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Iago Nicolai Beraldo Dalsenter</a>
                      <p>Orientador: Prof. Dr. Marcelo Dottori</p>
                    </li>
                    <li>
                      <a href="http://buscatextual.cnpq.br/buscatextual/visualizacv.do?metodo=apresentar&amp;id=K4975086D6"
                      target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Paulo Victor Marchetto Silva</a>
                      <p>Orientador: Prof. Dr. Belmiro Mendes de Castro Filho</p>
                    </li>
                    <li>
                      <a href="#" target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Vanessa Colla Paspaltzis</a>
                      <p>Orientador: Prof. Dr. Belmiro Mendes de Castro Filho</p>
                    </li>
                    <li>
                      <a href="#" target="_blank" style="font-size: 1.1em; color: #0a5187;">
                        Victor Cesar Martins de Aguiar</a>
                      <p>Orientador: Prof. Dr. Belmiro Mendes de Castro Filho</p>
                    </li>
                  </ul>
                  <p></p>
                </ul>
              </div>
              <div class="tab-pane" id="panel-disciplinas">
                <h3>Sistema Oceano 1 - 2100101</h3>
                <p>
                  <b> Objetivos: </b>Fornecer aos alunos os conceitos básicos da ciência Ocanográfica. O ambiente
                  marinho, suas principais características e processos.</p>
                <p>
                  <b>Programa:</b>Energia do Sol e balanço térmico. Radiação solar e terrestre. Calor sensível
                  e calor latente. Balanço térmico da Tessa. Absorção e reflexão da radiação
                  solar pelos oceanos. O campo de temperatura nos oceanos: camada de mistura,
                  termoclima e camada de fundo. Marés. Forças geradoras. Marés semi-diurnas
                  e diurnas. Desigualdades diárias e quase-quinzenais.</p>
                <h3>Sistema Oceano 2 - 2100102</h3>
                <p>
                  <b> Objetivos: </b>Introduzir o aluno à Ciência Oceanográfica, sequenciando Sistema Oceano
                  I fornecendo aos alunos os conceitos básicos da ciência Oceanográfica.
                  O ambiente marinho, suas principais características e processos.</p>
                <p>
                  <b>Programa:</b>Massas de água e circulação profunda dos oceanos. Forças atuantes na água
                  do mar e equação do movimento. Circulação superficial dos oceanos.</p>
              </div>
            </div>
          </div>
        </div>
{% endblock conteudo %}